# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/

# Pyre type checker
.pyre/

# Created directories
dags/*
!dags/sample_dag.py
!dags/__init__.py
!dags/stocks/functions.py
!dags/stocks/stocks_example.py

data/
logs/
plugins/
requirements/